# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.development
.env.production

# Firebase
firebase-service-account.json
new-firebase-service-account.json

# Misc
.DS_Store
*.pem
